.root {
    /*-fx-background-color: #bdc3c7;*/
}

#curr {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: navy;
    /*-fx-background-color: yellow;*/
    -fx-max-width: 50;
    -fx-min-width: 50;
    -fx-max-height: 30;
}

.button {
    -fx-max-width: 55px;
    -fx-max-height: 22px;
    -fx-min-width: 55px;
    -fx-min-height: 22px;
    -fx-padding: 1;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-background-color: #34495e;
    -fx-webkit-box-shadow: inset 0 -2px #263849;
}

.button:pressed {
    -fx-background-color: #454545;
    -fx-text-fill: #ecf0f1;
}

.combo-box .list-cell
{
    -fx-background: #ecf0f1;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #ecf0f1, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #ecf0f1;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #ecf0f1;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}